*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Lato", "Helvetica", Sans;
}

:root{

  /* Text Color */
  --primary-color:#111;
  --secondary-color:#FFBF00;
  --accent-color:#009966;

  /* Border  */
  --border-1: 8px solid #CC9900;
  --border-2: 8px solid #999999;

  /* background Color  */
  --bgc-1:#fff;
  --bgc-2: #999999;
  --bgc-3: #666666;
  --bgc-4: #FFBF00;
}

/* HEADER */

header{
  background: var(--bgc-1);
  height: 50vh;
  width: 100%;
  border-bottom: var(--border-2);
}

p{
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin: 20px 0;
}

.container{
  margin: 50px;
}

.logo h1{
  font-weight: 800;
  margin-bottom: 50px;
}

.header-intro{
  width: 450px;
  height: 60px;
}

.lead{
  color: var(--accent-color);
  font-weight: 800;
}

/* Info Section */

section{
  height: 52vh;
  width: 100%;
  background: var(--bgc-3);
  margin: auto;
  display: flex;

}

.wrapper{
  background: var(--bgc-1);
  border-bottom: var(--border-2);
  width: 776px;
  height: 312px;
  display: flex;
  flex-direction: column;
  
}

.card-title{
  background-color: var(--bgc-4);
  border-bottom: var(--border-1);
  margin:10px -20px 0 -20px;
  padding: 10px 30px;
  text-align: left;
  width: 398px;
  height: 60px;


  &h3{
    font-weight: 800;
  }
}

.card-content{
  padding: 15px;
}

/* XXS Screen  */

@media screen and (max-width:319px) {
  body{
    display: none;
  }
}

