*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #222;
  font-family: "lato";
  line-height: 1.8rem;
}

h1{
  margin: 20px 0;
  font-weight: 800;

}
p{
  font-size: 1.2rem;
}

main{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  height: 260px;
  max-width: 420px;
  background-color: white;
  border-radius: 10px;
}

.heading{
  background: #ff0095;
  max-width: 280px;
  padding: 8px;
  margin: -30px auto 20px auto;
  text-align: center;
  border-radius: 5px;
 
}

.content{
  margin: auto 20px;
  max-width: 359px;
}


/* For small screen size */

@media screen and (max-width:420px) {
  .container{
    height: 300px;
    max-width: 330px;
    background-color: white;
    border-radius: 10px;
  }

  .content{
    margin: auto 20px;
    max-width: 300px;
  }
  
}